.order{
    border: 1px solid black;
    margin: 5px;
}
.titleOrder{
    font-family: 'Staatliches', cursive;
    text-align: center;
    padding: 5px;
}
.orderItem{
    border-bottom:1px dashed black ;
    padding: 5px;
}
.orderProduct{
    margin-right: 8px;
}
.orderTotal{
    padding: 10px;
    margin-top: 10px;
    text-align: right;
}
.orderMessage{
    margin-top: 10px;
    font-style: italic;
}