.cartTitle{
    text-align: center;
    padding: 30px;
}
.buttonHome,.buttonConfirm{
    padding: 10px;
    width: 200px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: #d68b21;
    border: solid 1px;
    border-color: #d68b21;
    color: white;
    margin: 20px;
}
.buttonHome:hover,.buttonConfirm:hover{
    transition: .5s;
    color: white;
    border-color: #996111;
    background-color: #996111;
}
.buttonRemoveAllContainer{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: stretch;

}
.cartEmptyContainer{
    padding: 10px;
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.buttonRemoveAll{
    margin-right: 10px;
    padding: 5px;
    width: 150px;
    border-radius: 10px;
    background-color: white;
    border: solid 1px;
    border-color: rgba(160, 15, 15, 0.884);
    color: rgba(160, 15, 15, 0.884);
}

.buttonRemoveAll:hover{
    transition: .5s;
    color: white;
    background-color: rgba(160, 15, 15, 0.884);
}
.totalCart{
    text-align: right;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: bold;
}
.during-popup{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}