.titleForm{
font-size: 1.2rem;
padding: 15px;
text-align: center;
}
.formCheckOut{
padding: 8px;
}

.cartItems{
    height: 100vh;
    overflow-y: scroll;
    border-left: 1px solid grey;
}
.cartItems::-webkit-scrollbar {
    display: none;
}
.buttonBack{
padding: 10px;
margin:40px 40px 0px 0px;
width: 150px;
font-size: 1rem;
border-radius: 10px;
background-color: white;
border: #d68b21 solid 1px;
border-color: #d68b21;
color: #d68b21;
cursor: pointer;
}
.buttonBack:hover{
    color: white;
    background-color: #d68b21;
    transition: .5s;
}
.buttonSubmit{
padding: 10px;
margin:40px;
width: 200px;
font-size: 1rem;
font-weight: bold;
border-radius: 10px;
background-color: #d68b21;
border: solid 1px;
border-color: #d68b21;
color: white;
cursor: pointer;
transition: .5s;
}
.buttonSubmit:disabled{
    cursor: not-allowed;
    background-color: grey;
    border-color: grey;
}
.textFinishOrder{
    margin: 20px;
}
.buttonFinishOrder{
padding: 20px;
margin:40px;
width: 200px;
font-size: 1rem;
font-weight: bold;
border-radius: 10px;
background-color: #c0591e;
border: solid 1px;
border-color: #c0591e;
color: white;
cursor: pointer;
transition: .5s;
}
.buttonFinishOrder:hover{
    background-color: #ac4b13;
    border-color: #c0591e;
    transition: .5s;
}

.finishOrder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.imageWaiting{
    height: 200px;
    width: 200px;
}
@media screen and (max-width: 776px) {
    .formCheckOut{
    border-right:none;
    }
}