.itemDetail >.container{
    background-color: rgb(255, 255, 255); 
    padding:20px;
    margin-bottom: 20px;
    margin-top: 90px;
    border: 0.2px solid rgba(128, 128, 128, 0.377);
    border-radius: 10px;
    box-shadow: -6px 2px 33px 0px rgba(0,0,0,0.54);
}
.itemDetail >.row> div{
    padding-left:0px ;
}
.imageItemDetail{
    width: 100%;
}
.textItemDetail{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
}

.titleItemDetail{
    text-align: left;
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 10px;
    
}
.descriptionText{
    font-weight: bold;
    font-size: 1.2rem;
}
.descriptionItemDetail{
    text-align: left;
}
.stockItemDetail{
    text-align: left;
    font-weight: bold;
}
.priceItemDetail{
    font-size: 3.5rem;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: left;
}
.quantity{
    font-weight: bold;
    margin-bottom: 20px;
}
.buttonAddContainer{
    text-align: center;
    
}
.buttonFinish{
    padding: 8px;
    width: 200px;
    border-radius: 10px;
    background-color: orangered;
    border-color: transparent;
    color: white;
    font-weight: bold;

}
@media screen and (max-width: 776px){
    .imageItemDetail{
        width: 200px;
        height: 200px;
    }
}