.cartWidget{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: center;
	align-items: center;
	align-content: stretch;
    
}

.numberCountCart{
    margin-left: 3px;
    color: #d68b21;;
    font-weight: bold;

}