@import '../../styles/variables.scss';
@import '../../styles/size.scss';


.stages{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-start;
    padding: 10px;
}
.stage{
    background-image:url(../../assets/images/png/cheque.png);
    @include sizeImage(cover,center,no-repeat);
    @include size(30px,30px);
    display: block;
    border: none;
}
.selectedStage{
    background-image: url(../../assets/images/png/cheque.png);
    @include sizeImage(cover,center,no-repeat);
    @include size(30px,30px);
    display: block;
    border-radius:100%;
    background-color: $bg-primary;

}
.stageItem{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
    padding: 10px;
}

.stageTextSelected{
    font-size: 1rem;
    padding:10px;
    margin-top: 1rem;
    border-bottom:1px $bg-primary solid;
    text-decoration: none;
}
.stageText{
    font-size: 1rem;
    margin-top: 1rem;
    padding:10px;
    text-decoration: none;
    color: $font-color-primary;
}
.stages a:hover{
    color: $font-color-primary;
    text-decoration: none;
}
