
.navbar{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    box-shadow: -2px 15px 105px -10px rgba(0, 0, 0, 0.329);
}
.logo{
    float: left;
    margin-top: 4px;
    margin-left: 4px;
}
.icon-toggler{
    display: none;
}
.sidebar {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar li {
    display: inline-flex;
}
.itemNav {
    display: inline-flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}
.itemNav:hover{
    color: orange;
    text-decoration: none;
}
.selectedLink{
    color: orange;
    border-bottom: solid 1px;
}
.loginContainer{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}
@media screen and (max-width: 776px) {
    .navbar{
        position:relative
    }
    .sidebar li{
        position: relative;
        display:block;
    }
    .active{
        left:0;
        display: block;
    }
    .icon-toggler{
        background-image: url(../../assets/images/svg/icon-menu.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 24px;
        width: 24px;
        display: block;
        border: none;
        margin-left: 15px;
    }
}