@import '../../../styles/variables.scss';
@import '../../../styles/size.scss';

.gretting{
    font-family: 'Staatliches', cursive;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 50px;
    z-index: 1;
    
}
.textBanner{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}
.home{
    @include size(70vh,100%);
    background-image: url(../../../assets/images/png/banner.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include sizeImage(cover,center,no-repeat);
}
.logoBanner{
    @include size(250px,500px);
    @include sizeImage(cover,center,no-repeat);
}
.categoryItems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top:20px;
}
.category{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.imageCategory{
    @include size(320px,350px);
    @include sizeImage(cover,center,no-repeat);
    border-radius: 20px;
}
.textCategoryHome{
    text-decoration: none;
    color: $font-color-primary;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.5rem;
}
.category a:hover{
    text-decoration: none;
}
.textCategoryHome:hover{
    color: $font-color-secondary;
}
@media screen and (max-width: 776px) {
    .logoBanner{
        @include size(180px,300px);
    }
    .imageCategory{
        @include size(300px,280px);
    }
    .textBanner{
        padding-left: 20px;
    }
    .gretting{
        padding-left: 20px;
    }
}